<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default}">

<th:block layout:fragment="customTitle">
	<title>게시판 전체목록</title>
</th:block>
<th:block layout:fragment="customContents" >
	<table border="1">
		<thead>
			<tr>
				<th>번호</th>
				<th>제목</th>
				<th>내용</th>
				<th>글쓴이</th>
				<th>등록날짜</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="l : ${boardList}">
				<td th:text="${#strings.abbreviate(l.boardNo,10)}"></td>
				<td th:text="${#strings.abbreviate(l.boardTitle, 20)}"></td>
				<td th:text="${#strings.abbreviate(l.boardContent,25)}"></td>
				<td th:text="${#strings.abbreviate(l.boardUser,15)}"></td>
				<td th:text="${#strings.abbreviate(l.boardDate,15)}"></td>
			</tr>
		</tbody>
	</table>
	<!-- 맨처음 -->
	<a th:href="@{/boardList}">[맨처음]</a>	
	<!-- 이전 -->
	<a th:if="${currentPage > 1}" 
	th:href="@{/boardList(currentPage=${currentPage - 1})}">
		[이전]
	</a>
	<th:block 
	th:each="num:${#numbers.sequence(startPageNum,endPageNum)}">
		<span th:if="${currentPage == num}" 
		th:text="${'['+ num +']'}"></span>
		<a th:unless="${currentPage == num}" 
		th:text="${'['+ num +']'}" 
		th:href="@{/boardList(currentPage=${num})}"></a>
	</th:block>
	<!-- 다음 -->
	<a th:if="${currentPage < lastPage}" 
	th:href="@{/boardList(currentPage=${currentPage + 1})}">
		[다음]
	</a>
	<!-- 마지막 -->
	<a th:href="@{/boardList(currentPage=${lastPage})}">
		[마지막]
	</a>
</th:block>
</html>