<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default}">

<th:block layout:fragment="customTitle">
	<title>상품수정</title>
</th:block>
<th:block layout:fragment="customContents">
	<form th:action="@{/gUpdate}" method="post">
		<table border="1">
				<tr>
					<td>상품코드</td>
					<td>
						<input type="text" name="gCode" th:value="${Goods.gCode}" readonly="readonly"/>
					</td>
				</tr>
				<tr>
					<td>상품명</td>
					<td>
						<input type="text" name="gName" th:value="${Goods.gName}"/>
					</td>
				</tr>
				<tr>
					<td>구매자 아이디</td>
					<td>
						<input type="text" name="mId" th:value="${Goods.mId}" readonly="readonly"/>
					</td>
				</tr>		
				<tr>
					<td>카테고리</td>
					<td>
						<input type="text" name="gCate" th:value="${Goods.gCate}"/>
					</td>
				</tr>	
				<tr>
					<td>가격</td>
					<td>
						<input type="text" name="gPrice"  th:value="${Goods.gPrice}"/>
					</td>
				</tr>	
				<tr>
					<td>상품색상</td>
					<td>
						<input type="text" name="gColor"  th:value="${Goods.gColor}"/>
					</td>
				</tr>
				<tr>
					<td>상품사이즈</td>
					<td>
						<input type="text" name="gSize"  th:value="${Goods.gSize}"/>
					</td>
				</tr>	
				<tr>
					<td>구매날짜</td>
					<td>
						<input type="text" name="gDate"  th:value="${Goods.gDate}" readonly="readonly"/>
					</td>
				</tr>	
				<tr>
					<td>상세설명</td>
					<td>
						<input type="text" name="gDesc"  th:value="${Goods.gDesc}"/>
					</td>
				</tr>		
				<tr>
					<td colspan="2" style="text-align: center">
						<input type="submit" value="상품수정"/>
					</td>
				</tr>	
		</table>
	</form>
	
	 
	
</th:block>
</html>